# Python
__pycache__/
*.py[cod]
*$py.class

# Data
data/
*.npy

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
.vscode/

# Ignore figures if you want (commented out by default to include the outputs)
# figures/
